.messenger {
    display: grid;
    grid-template-columns: 201px auto;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    min-height: 540px;
    height: 90%;
    margin: 40px 0 15px 0;
}

.dialogsWrapper {
    width: 200px;
    border-right: solid 1px #e7e8ec;
    height: 100%;
}

.dialogs {
    display: grid;
    grid-template-columns: auto;
}

.find, .chatBody, .chatHeader {
    border-bottom: solid 1px #e7e8ec;
}

.text {
    border-left-width: 15px;
    padding: 15px 10px 15px 26px;
    border: none;
    outline: 0;
}

.dialog {
    height: 60px;
}

.history {
    display: grid;
    grid-template-rows: 47px auto 47px;
}

.chatBody {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 15px;
    padding: 25px;
    align-content: start;
}

.My {
    padding-left: 10px;
    background-color: wheat;
    border-radius: 25px;
}
