.App-wrapper {
    margin: 0;
    position: relative;
    font-size: 14px;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.main-wrapper {
    background-color: var(--main-bg-color);
    margin: 0 70px;
    min-height: calc(100vh - 70px);
    display: grid;
    color: #888da8;
}

.contentContainer {
    width: -webkit-fill-available;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

:root {
    --main-bg-color: #edf2f6;
    --orange: #ff5e3a;
    --purple: #7c5ac2;
    --blue: #38a9ff;
    --dark: #3f4257;
    --grey: #9a9fbf;
}